/* Lato font import from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Variables declared */
:root {
  --primary: #f6b17a;
  --secondary: #2d3250;
}

/* Initial styling setup for global elements that have common styling */
body {
  margin: 0;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  background: var(--secondary);
}

* {
  color: #fff;
  margin: 0;
}

p {
  margin: 3rem 0;
}

button {
  border: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* Styling for making the items of navbar move to the end */
header nav {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
  max-width: 100%;
  margin: 1.5rem auto;
}

/* To improve the styling of Navbar brand or the logo. Also to push it to the left end */
header nav h1 {
  margin-right: auto;
  font-size: 2rem;
  border-bottom: 0.2rem solid var(--primary);
}

/* Styling for different nav elements */
header nav a {
  text-decoration: none;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
}

/* How it should look when it is clicked */
header nav a.active {
  background: var(--primary);
  color: var(--secondary);
  font-weight: 600;
}

/* page content main div styling */

main {
  max-width: 100%;
  margin: 3rem auto;
}

/* home page styling */
.home-page h2 {
  color: var(--primary);
  font-size: 2rem;
}

.home-page .intro span {
  color: var(--primary);
  font-weight: 700;
}

.home-page .why-job-scout h3 {
  font-size: 1.5rem;
  color: var(--primary);
  font-weight: 300;
  padding-bottom: 1.25rem;
}

.home-page .why-job-scout ul li {
  padding: 0.8rem 0;
}

.home-page .why-job-scout ul li strong {
  text-decoration: underline;
}
