@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary: #f6b17a;
  --secondary: #2d3250;
}

body {
  margin: 0;
  padding: 3rem;
  font-family: "Lato", sans-serif;
  background: var(--secondary);
}

* {
  color: #fff;
  margin: 0;
}

p {
  margin: 3rem 0;
}

button {
  border: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  background: var(--primary);
  cursor: pointer;
}
